# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
*.egg*/
build/
dist/

# Virtual environments
.venv/
.python-version

# IDE
.idea/
.vscode/

# Environment
.env

# Testing
.coverage*
htmlcov/
pytestdebug.log
pytest.xml
.pytest_cache/

# uv
uv.lock

# Docs
docs/_build/
